:root {
  scroll-behavior: smooth;
  --primary-color: (#e8dab2);
}

/* Global Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Ensure full height layout */
html,
body {
  height: 100%;
  width: 100%;
}
